<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twentyfourseven.zira"
    android:versionCode="3"
    android:versionName="1.3" >

    
     <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
     
    <permission
        android:name="com.twentyfourseven.zira.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.twentyfourseven.zira.permission.MAPS_RECEIVE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
<uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Note: the above 2 permissions is not required on 4.1 or above. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="com.twentyfourseven.zira.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.twentyfourseven.zira.permission.C2D_MESSAGE" />
    <!-- Note: the above 2 permissions is not required on 4.1 or above. -->


    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM connects to Google Services. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
<!--   <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />  --> 
 
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.twentyfourseven.zira" />
            </intent-filter>
        </receiver>

        <service android:name="com.twentyfourseven.zira.GCMIntentService" />

      

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/places_api_key" />
        <uses-library android:name="com.google.android.maps" />



        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
       
        <activity
            android:name="com.twentyfourseven.zira.VehicleSearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.ValidateEmailPhoneNumber"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.UploadBasicInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.Promotions"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.Support"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
            <activity
            android:name="com.twentyfourseven.zira.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
         <activity
            android:name="com.twentyfourseven.zira.RatingSetScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
         <activity
            android:name="com.twentyfourseven.zira.TipView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
         <activity
            android:name="com.twentyfourseven.zira.SplitFare"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.AddPromoCode"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.SeeDriverLocation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.DriverProfileInformation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
             <activity
            android:name="com.twentyfourseven.zira.ShareScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.CalculateFareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.AddCreditInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.BackgroundCheckActivity"
         android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.DocumentUploadActivity"
        
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.profile.EditBaseProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.login.DisplayInformation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.registration.VehicleInformationActivity"
            android:screenOrientation="portrait"
       android:launchMode="singleInstance"
            android:windowSoftInputMode="stateHidden" >
        </activity>
      <activity
            android:name="com.zira.profile.GetProfile"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity> 
        <activity
            android:name="com.zira.login.ForgotPassword"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.LocationSettingActivity"
            android:screenOrientation="portrait"
           >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.LocationChangeToCheckFareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.twentyfourseven.zira.DriverModeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity 
            android:name="com.zira.notification.DriverNotifications"
            android:screenOrientation="portrait"
        	android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden" >
        </activity> 
        <activity
            android:name="com.zira.notification.RiderNotification"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.creditcards.ListOfCreditCardsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.zira.creditcards.AddCreditCardDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        
        <activity
            android:name="com.twentyfourseven.zira.RiderRideView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>

      <!--   <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />  -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.twentyfourseven.zira.VehicleFareInfoDialog"
                android:screenOrientation="portrait"
            android:label="@string/title_activity_vehicle_fare_info_dialog"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name="com.zira.login.LegalPolicyDailog"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            </activity>
              <activity
            android:name="com.zira.notification.EndRideActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            </activity>

    </application>

      
    

</manifest>